site_name: Maximilian Albert
site_url: https://maxalbert.github.io/

theme:
  name: material
  palette:
    primary: teal
  font:
    text: Metrophobic
    #code: Roboto Mono

nav:
  - Home: index.md

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
